@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#menu1 ul /* barra de cima */{
    list-style-type: none;
    padding: 0;
    background-color: #444;
}
#menu1 ul li {
    display: inline;
}
#menu1 ul li a /*letras da barra de cima */ {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 40px;
    transition: background .3s linear;
    font-size: 80px;
}
#menu1 ul li a:hover /* fundo do botao Miaudota quando passa o mouse */{
    background-color:rgba(4, 167, 113, 0.733);
}

#botao_adm {
    text-align: center;
    align-items: center;
    font-size: 20px;
}

#menu2 ul /* fundo da barra de baixo */ {
    list-style-type: none;
    padding: 0;
    background-color: #fff;
}
#menu2 ul li {
    display: inline;
}
#menu2 ul li a /* letra da barra de baixo */ {
    display: inline-block;
    color: #444;
    text-decoration: none;
    padding: 30px;
    transition: background .3s linear;
    font-size: 35px;
}
#menu2 ul li a:hover /* fundo dos botoes de baixo quando passa o mouse */{
    background-color:aquamarine;
}

#menu2 ul li:last-child a /* fundo do botao Logar */ {
    float: right;
    background-color: rgba(113,117,119,1);
}
#menu2 ul li:last-child a:hover /* fundo do botao Logar */ {
    float: right;
    background-color:rgba(4, 167, 113, 0.733);
}

#imagem_inicial {
    width: 100%
}

footer{
    width: 100%;
    min-width: 250px;
    background: #444;
    display: flex;
    padding: 20px;
    line-height: 4rem;
}
footer .boxs{
    width: 1000px;
    min-width: 300px;
    padding: 20px;
    max-width: 1000px;
}
footer .boxs:nth-child(4){
    width: 400px;
    color: orange;
}

.boxs h2{
    color: #fff;
}
.boxs h2 {
    margin: 10px 0px;
    list-style-type: none;
    font-size: 60px;
}
.boxs h2 a{
    color: #ddd;
    text-decoration: none;
    max-width: 40px;
}
.boxs h2 a:hover{
    color:aquamarine;
}

.boxs ul li{
    margin: 10px 0px;
    list-style-type: none;
    font-size: 40px;
    text-align: left;
}
.boxs ul li a{
    color: #ddd;
    text-decoration: none;
}
.boxs ul li a:hover{
    color:#fff;
}

.footer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 0px 20px;
}
.footer .sociais {
    display: flex;
}
.sociais .social{
    width: 120px;
    height: 100px;
    text-align: center;
    line-height: 40px;
    background: #444;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s linear;
}
.sociais .social a{
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    transition: color .3s linear;
}
.sociais .social:hover{
    background: rgb(255, 255, 255);
}
.sociais .social:hover a{
    color: #444;
}


@media(max-width: 950px){
    
    footer {
        flex-direction: column;
    }

    footer .boxs{
    width: 100%;
    text-align: center;
    }

    footer .boxs:nth-child(4) {
        width: 100%;
    }
}